{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="summary col-md-12 {{post_class}}">
    <header>
        <h2 class="title">
        <a href="{{url}}">{{{title}}}

        </a> 

        </h2>

    </header>
           <div class="subhead"> 
               <span>// </span><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
               </div>

    <section class="description">
        <p>
        <a class="excerpt" href="{{url}}">{{excerpt words="30"}}...</a>
        </p>
    
    </section>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
<div class="row text-center">
    <div class="col-xs-12">
        {{pagination}}
    </div>
</div>